.modal__box {
  //   padding: 10rem;
  width: 15rem;
  height: 8rem;
  color: blue;
  text-align: center;
}

.modal__BtnContainer {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}
