@mixin horizontal_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin center_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex_space_around {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin formStyle {
  width: 40%;
  margin: 0 auto;
  // background: lightgreen;
  border: 1px dashed forestgreen;
  padding: 14px;
}

@mixin flex_spaceAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
