.form__input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  // border-radius: 10px;
  background-color: white;
}

.div__input {
  width: 25%;
}

.error__text {
  color: red;
}
